[coverage:run]
include =
    django_tally/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain about code not ment to be implemented
    raise NotImplementedError
