[flake8]
exclude =
    # Not our code
    venv,
    .eggs,
    # Auto created by Django which doesn't care about line length at all
    django_tally/data/migrations,
    django_tally/user_def/migrations,
